.hover {
	opacity: 0.6;
}
view,
view::after,
view::before {
	box-sizing: border-box;
}

/* 底部安全区 */
.safe-bottom-margin {
	margin-bottom: env(safe-area-inset-bottom);
}
.safe-bottom-padding {
	padding-bottom: env(safe-area-inset-bottom);
}