.hover {
	opacity: 0.6;
}

// 所有 button 都去 padding margin border
button {
	padding: 0;
	margin: 0;
	line-height: inherit !important;
	border: none !important;
	background: none;
}

button:after {
	border: none;
}

.uni-color-1 {
	color: #351A14;
}

.uni-border-color-1 {
	border-color: #351A14;
}

.uni-color-2 {
	color: #7B6A62;
}

.uni-border-color-2 {
	border-color: #7B6A62;
}

.uni-color-3 {
	color: #D54600;
}

.uni-color-4 {
	color: #4E443E;
}

.uni-color-5 {
	color: #AA9F9A;
}

.uni-line-bg-color {
	background-color: #D5C7AEAA;
}

// 底部安全位置的定义
.safe-bottom-margin {
	margin-bottom: env(safe-area-inset-bottom);
}

.safe-bottom-padding {
	padding-bottom: env(safe-area-inset-bottom);
}

// 底部大按钮的定义
// d-flex justify-content-center align-items-center bg-color-1 text-color-2 text-size-32 border-radius-16 h-88

// 常规列表（带 icon 的）
.xr-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	
	.xr-item {
		display: flex;
		align-items: center;
		width: 100%;
		
		.left-part {
			display: flex;
			justify-content: center;
			width: 100upx;
			padding: 24upx 0;
		}
		
		.left-part.hidden {
			width: 30upx
		}
				
		.right-part {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex: 1;
			box-sizing: border-box;
			padding: 24upx 0;
			border-bottom: 1upx solid #f2f3f5;
			
			.arrow {
				display: flex;
				margin-right: 24upx;
			}
			
			.text {
				max-width: 450upx;
			}
		}
	}
	
	.xr-item:last-child {
		.right-part {
			border: none;
		}
	}
}


// 常规列表（不带 icon）
.ll-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	padding-left: 30upx;
	
	// 估计用不上
	&.ll-list-24 {
		padding-left: 24upx;
		
		.ll-item {
			padding-right: 24upx;
		}
	}
	
	// 单独仅仅右边
	&.ll-icon-24 {
		.ll-item {
			padding-right: 24upx;
		}
	}
 	
	.ll-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding-right: 30upx;
		border-bottom: 1upx solid #f2f3f5;
		width: 100%;
		
		.left-part {
			display: flex;
		}
		
		.right-part {
			display: flex;
		}
	}
	
	.ll-item:last-child {
		border: none;
	}
	
	// 垂直不居中的莫名的方法
	.iconfont {
		writing-mode: vertical-rl;
		-webkit-writing-mode: vertical-rl;
	}
}

.scroll-full {
	width: 750rpx;
	height: 100vh;
}